# Ignorar node_modules do BFF, Client e Raiz
node_modules/
src/bff/node_modules/
src/client/node_modules/

# Ignorar arquivos de build e cache
dist/
build/
.cache/
.vite/
.out/
coverage/

# Ignorar relatórios de mutação do Stryker
reports/
.stryker-tmp/

# Ignorar configurações de ambiente
.env
.env.local
.env.*.local

# Ignorar arquivos do sistema operacional
.DS_Store
Thumbs.db
